


#importfilepicker::file-selector-button {
    display: none;
}

/* Safari only*/
/*@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        text-indent: -120px;
        margin-left: -7em;

        #importfilepicker::file-selector-button {
            display: inline;
        }
    }
}*/
